/* * {
  outline: 1px solid red;
} */
@import url('https://fonts.googleapis.com/css?family=Cabin|Playfair+Display');

body, nav {
font-family: 'Cabin', sans-serif;
}


h1, h2,h3,h4,h5,h6 {
font-family: 'Playfair Display', serif;
}

h2 {
  font-size: 1.35rem;
}
p {
  line-height: 1.5rem;
}
.nav-padding {
  padding: 25px 10px;
}

nav li a {
  color: rgb(18,26,98);
  font-size: 1.25rem;
  border-bottom:3px solid rgba(136,146,233,0);
}

nav li a:hover {
  color:rgb(136,146,233);
  border-bottom:3px solid rgba(136,146,233,1);
}
header {
  background-color: rgba(136,146,233,1);
  color: rgb(255,255,255);
  border-bottom: 1px solid black;
}
.footertxt {
  font-size:.75em;
  padding: 0 10px;
}
.block {
  background-color: rgba(136,146,233,.7);
  height:200px;
  margin-top: 150px;
  border-top: 1px solid black;
}
.overflow {
  overflow: hidden;
}
/* 
h1 img {
  border: 3px solid rgba(136,146,233,1);
} */
